<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="card">
            <div class="card-action">
                Listado de usuarios
            </div>
            <div class="card-content">
                <div class="table-responsive">
                    <table datatable class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th class="center">Documento</th>
                                <th class="center">Nombre completo</th>
                                <th class="center">Username</th>
                                <th class="center">Email</th>
                                <th class="center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" *ngFor="let detailuser of getusers; let i = index">
                                <td>{{detailuser.numberdocument}}</td>
                                <td>{{detailuser.name}} {{detailuser.lastname}}</td>
                                <td>{{detailuser.username}}</td>
                                <td>{{detailuser.email}}</td>
                                <td class="center">
                                    <button [routerLink]="['/user',detailuser.username]" class="btn btn-warning" style="margin:5px;">Modificar</button>
                                    <button class="btn btn-danger" (click)="deleteUsers(detailuser.numberdocument)">ELiminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>